<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>MongoDB Records</title>
	<script type="text/javascript" src="jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="style.css">
</head>

	<script type="text/javascript">
		$(document).ready(
		function()
		{	
			$("#formTable").append($("#form-row").html());
			$("#more").click(function(){
				$("#formTable").append($("#form-row").html());
			});
		});
	</script>

<body>

	<template id="form-row">
		<tr>
			<td class="tableOdd">
				<input name="key" type="text" >
			</td>
			<td class="tableOdd">
				<input name="val" type="text">
			</td>
		</tr>
	</template>

	<form action="RecordServlet" method="post">
	<table><tr><td>
		<table id="formTable" class="tables" >
		<tr>
			<td class="tableHeads">
				<center>Key</center>
			</td>
			<td class="tableHeads">
				<center>Value</center>
			</td>
		</tr>
		</table>
	</td></tr><tr><td>
		<div align="right"> <input id="more" type="button" value="add more"> <input type="submit" default="true"> </div>
	</td></tr></table>
	</form>
	<br/><br/>

	<table class="tables" >
		<tr>
			<td class="tableHeads"><center>N</center></td>
			<td class="tableHeads"><center>Data</center></td>
			<td class="tableHeads"><center>Time</center></td>
		</tr>
		#set($i=0)
		  #foreach( $rec in $recordService.recordList )
		    <tr> #set($i=$i+1)
		    #set($c="tableOdd")
		    #if($i%2==0) #set($c="tableEven") #end
		    <td class="$c">$i</td>
		    <td class="tables">
		    	<table class="tables" >
		    		#foreach( $key in $rec.data.keySet() )
		    			<tr>
		    			<td class="$c">$key</td>
		    			<td class="$c">$rec.data.get($key)</td></tr>
		    		#end
		    	</table>
		    </td>
		    <td class="$c">$rec.time</td></tr>
		  #end
	</table>

</body>
</html>