<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>MongoDB Records</title>
	<script type="text/javascript" src="jquery-1.11.1.min.js"></script>
</head>

	<script type="text/javascript">
		$(document).ready(
		function()
		{	
			var x=0;
			$("#more").click(function(){
				$("#formTable").append("<tr>"+
				"<td style='background-color: #f82;'>"+
				"	<input name='key' type='text' >"+
				"</td>"+
				"<td style='background-color: #f82;'>"+
				"	<input name='val' type='text'>"+
				"</td></tr>");
			});
		});
	</script>

<body>

	<form action="RecordServlet" method="post">
	<table><tr><td>
		<table id="formTable" style="background-color: #841;" >
		<tr>
			<td style="background-color: #e71;">
				<center>key</center>
			</td>
			<td style="background-color: #e71;">
				<center>value</center>
			</td>
		</tr>
		<tr>
			<td style="background-color: #f82;">
				<input name="key" type="text" >
			</td>
			<td style="background-color: #f82;">
				<input name="val" type="text">
			</td>
		</tr>
		</table>
	</td></tr><tr><td>
		<div align="right"> <input id="more" type="button" value="add more"> <input type="submit" default="true"> </div>
	</td></tr></table>
	</form>
	<br/><br/>

	<table style="background-color: #841;" >
		#set($i=0)
		  #foreach( $rec in $recordService.recordList )
		    <tr> #set($i=$i+1)
		    #set($c="#f82")
		    #if($i%2==0) #set($c="#fa4") #end
		    <td style="background-color: $c;">$i</td>
		    <td style="background-color: #841;">
		    	<table style="background-color: #841;" >
		    		#foreach( $key in $rec.data.keySet() )
		    			<tr>
		    			<td style="background-color: $c;">$key</td>
		    			<td style="background-color: $c;">$rec.data.get($key)</td></tr>
		    		#end
		    	</table>
		    </td>
		    <td style="background-color: $c;">$rec.time</td></tr>
		  #end
	</table>

</body>
</html>